<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
      <label for="blog-title">Blog Title:</label>
      <input type="text" name="title" id="blog-title" value="<%= blog.title %>">
      <label for="blog-summary">Blog Summary:</label>
      <textarea name="summary" id="blog-summary" cols="30" rows="3" placeholder="Please Write a short summary of blog content here"><%= blog.summary %></textarea>
      <label for="blog-content">Blog Content:</label>
      <textarea name="content" id="blog-content" cols="30" rows="10" placeholder="Please Write Your Content Here"><%= blog.content %></textarea>
      <button type="Submit" class="btn btn-outline-light">Update Post</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>