<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/blogIndex.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <ul>
      <% blogs.forEach(blog => { %>
        <div>
          <h5>
            <a href="blogs/<%= blog._id %>"><%= blog.title %></a>
          </h5>
          <p><%= blog.summary %></p>
        </div>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>