<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <a href="/blogs/new">New Blog</a>
  </section>
  <section>
    <ul>
      <% blogs.forEach(blog => { %>
        <div>
          <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
          <p><%= blog.summary %></p>
        </div>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>