<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h4>Written By:
    <a href="/profile/<%= blog.author._id %>"><%= blog.author.name %></a>
  </h4>
  <section>
    <p><%= blog.content %> </p>
  </section>
  <section>
    <h5>Comments:</h5>
    <% if (user) { %>
      <form action="/blogs/<%= blog._id %>/comments" method="POST">
        <textarea name="content" placeholder="Write New Comment Here"></textarea>
        <br>
        <button>Add Comment</button>
      </form>
    <% } %>
    <% blog.comments.forEach(comment => { %>
      <div>
        <p><%= comment.content %></p>
        <p class="details-p">Comment from <a href="/profile/<%= comment.author._id %>"><%= comment.author.name %></a>, posted on <%= comment.createdAt.toLocaleDateString() %></p>
        <% if (comment.author._id.equals(user?.profile._id)) { %>
          <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>">
            <button class="btn btn-outline-light">Edit Comment</button>
          </a>
          <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-light">Delete Comment</button>
          </form>
        <% } else if (blog.author._id.equals(user?.profile._id)) { %>
          <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-light">Delete Comment</button>
          </form>
          <% } %> 
      </div>
    <% }) %>
  </section>
  <br>
  <section>
    <% if (blog.author._id.equals(user?.profile._id)) { %>
      <a href="/blogs/<%= blog._id %>/edit">
        <button class="btn btn-outline-light">Edit Blog</button>
      </a>
      <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-light">Delete Blog</button>
      </form>
    <% } %>   
  </section>
</main>

<%- include('../partials/footer') %>