<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h4>Written By:
    <a href="/profile/<%= blog.author._id %>"><%= blog.author.name %></a>
  </h4>
  <section>
    <p><%= blog.content %> </p>
  </section>
  <% if (blog.author._id.equals(user?.profile._id)) { %>
    <a href="/blogs/<%= blog._id %>/edit">
      <button>Edit Blog</button>
    </a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Blog</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>