<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h4>Written By:
    <a href="/profile/<%= blog.author._id %>"><%= blog.author.name %></a>
  </h4>
  <section>
    <p><%= blog.content %> </p>
  </section>
</main>

<%- include('../partials/footer') %>