<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <section>
    <form action="/profile/<%= profile._id %>/dogs/<%= dogs._id %>?_method=PUT" method="POST">
      <% if (profile.dogs) { %>
        Edit Current Dogs:
        <br>
        <% profile.dogs.forEach(dog => { %>
          <label>
            Dog Name:
            <input type="text" name="name" value="<%= dog.name %> ">
          </label>
          <label>
            Breed:
            <input type="text" name="breed" value="<%= dog.breed %>">
          </label>
          <label>
            Color:
            <input type="text" name="color" value="<%= dog.color %>">
          </label>
          <br>
          <% }) %>
          <% } %>
    <button type="submit">Edit Dogs</button>
  </form>
  </section>
</main>

<%- include('../partials/footer') %>