<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/friends.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <% profile.friends.forEach(friend => { %>
      <h4><a href="/profile/<%= friend._id %>"><%= friend.name %></a></h4>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>