<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% userProfile.friendRequests.forEach(requestCode => { %>
    <% globalProfiles.forEach(globalProfile => { %>
      <% if (globalProfile.friendCode === requestCode) { %>
        <img src="<%= globalProfile.avatar %>" alt="Avatar image of <%= globalProfile.name %>">
        <p><a href="/profile/<%= globalProfile._id %>"><%= globalProfile.name %></a></p>
        <form action="/profile/<%= userProfile._id %>/profile/<%= globalProfile._id %>?_method=PATCH" method="POST">
        <button type="submit">Accept Request</button>
        </form>
      <% } %>
    <% }) %>
  <% }) %>
</main>

<%- include('../partials/footer') %>