<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/profileShow.css">
<%- include('../partials/nav') %>

<main>
  <div class="page-top">
    <h1><%= title %></h1>
    <div>
      <img src="<%= profile.avatar %>" alt="Avatar image of <%= profile.name %>">
    </div>
    <div>
      <% if (profile._id.equals(user?.profile._id)) { %>
        
      <% } else if (profile.friends.includes(user?.profile._id)) { %>
        <h6>You and <%= profile.name %> are friends!</h6>
      <% } else if (profile.friendRequests.includes(userProfile.friendCode)) { %>
        <h6>Friend Request to <%= profile.name %> Pending</h6>
      <% } else if (userProfile.friendRequests.includes(profile.friendCode)) { %>
        <h6><%= profile.name %> Sent You a Friend Request!</h6>
        <a href="/profile/<%= userProfile._id %>/friendRequests"><button>View Request</button></a>
      <% } else { %> 
        <form action="/profile/<%= profile._id %>/sendFriendRequest?_method=PATCH" method="POST"><button type="submit" class="btn btn-outline-light">Add Friend</button></form>
      <% } %> 
      </div>
    <section>
      <% if (profile.dogs) { %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dogs
          </button>
          <ul class="dropdown-menu">
          <% profile.dogs.forEach(dog => { %>
            <li class="dog-dropdown"><a class='dog-dropdown' href="/dogs/<%= dog._id %>"><%= dog.name %></a></li>
              <% }) %>
              <!-- <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>
          <% if (profile._id.equals(user?.profile._id)) { %>
            <a class="dropdown-item" href="/dogs/new">
              <button class="btn btn-outline-light">Add Dog</button>
            </a>
            <a class="dropdown-item" href="/profile/<%= profile._id %> %>/edit">
              <button class="btn btn-outline-light">Edit Dogs</button>
            </a>
          <% } %>
      <% } %>
    </section>
    </div>
    <section>
      <% if (profile._id.equals(user?.profile._id)) { %>    
        <h2>Your Blogs:</h2>
        <section>
          <a href="/blogs/new"><button class="btn btn-outline-light">Write new Blog</button></a>
        </section>
      <% } else { %>
        <h2><%= profile.name %>'s Blogs:</h2>
        <% } %> 
    <% profile.blogPosts.forEach(blog => { %>
      <div>
        <h3>
          <a href="/blogs/<%= blog._id %>">
            <%= blog.title %>
          </a>
        </h3>
        <h4><%= blog.summary %></h4>
      </div>
        <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>