<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <div class="page-top">
    <h1><%= title %></h1>
    <div>
      <img src="<%= profile.avatar %>" alt="Avatar image of <%= profile.name %>">
    </div>
    <section>
      <% if (profile.dogs) { %>
        <h3>Dogs:</h3>
      <% } %>
      <% profile.dogs.forEach(dog => { %>
        <h5><%= dog.name %></h5>
        <ul>
          <li>Breed: <%= dog.breed %></li>
          <% if (dog.color) { %>
            <li>Color: <%= dog.color %> </li>
            <% } %>
          </ul>
          <% }) %>
          <% if (profile._id.equals(user?.profile._id)) { %>
            <a href="/profile/<%= profile._id %>/edit">
              <button>Edit Profile</button>
            </a>
            <% } %>
    </section>
    <% if (profile._id.equals(user?.profile._id)) { %>
      <section>
        <a href="/blogs/new"><button>Write new Blog</button></a>
      </section>
      <% } %>
  </div>
  <section>
    <% if (profile._id.equals(user?.profile._id)) { %>    
      <h2>Your Blogs:</h2>
      <% } else { %>
        <h2><%= profile.name %>'s Blogs:</h2>
        <% } %> 
    <% profile.blogPosts.forEach(blog => { %>
      <div>
        <h3><%= blog.title %></h3>
        <h4><%= blog.summary %></h4>
        <p><%= blog.content %></p>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>