  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>

</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-solid fa-paw fa-2x"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              <li class="nav-item" id="nav-profile-link">
                <a class="<%= user ? 'nav-link active' : 'nav-link disabled' %>" <%= user ? `href=/profile/${user.profile._id}`: 'href=""' %> ><%= user ? `${user.profile.name}` : '' %>
                  <% if (user?.profile.avatar) { %>
                      <img
                        class="nav-img"
                        src="<%= user.profile.avatar %>"
                        alt="<%= user.profile.name %> avatar"
                      />
                  <% } %>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div>
          <% if (user) { %>
            <a href="/auth/logout" class="right">
              <button type="submit">Logout</button>
            </a>
            <% } else { %>
              <div 
              id="g_id_onload"
              data-client_id="<%= googleClientID %>"
              data-login_uri="/auth/google"
              data-auto_prompt="false"
              ></div>
              <div 
              class="g_id_signin right"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left"
              ></div>
              <% } %>
        </div>
      </div>
    </div>
  </nav>

