<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <form action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
      <label>
        Dog Name:
        <input type="text" name="name" value='<%= dog.name %>'>
      </label>
      <br>
      <label>
        Breed:
        <input type="text" name="breed" value='<%= dog.breed %>'>
      </label>
      <br>
      <label>
        Color:
        <input type="text" name="color" value="<%= dog.color %>">
      </label>
      <br>
      <label>
        Age:
        <input type="text" name="age" value="<%= dog.age %>">
      </label>
      <br>
      <button type="submit">Update Dog</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>