<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <% breedList.forEach(breed => { %>
      <h5><%= breed %></h5>
      <% dogs.forEach(dog => { %>
        <% if (dog.breed === breed) { %>
          <a href="/profile/<%= dog.owner._id %>"><%= dog.name %></a>
        <% } %>
      <% }) %>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>