<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <% dogs.forEach(dog => { %>
      <a href="/profile/<%= dog.owner._id %>"><%= dog.name %></a>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>