<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/dogsShow.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <h5>Breed:</h5>
      <p><%= dog.breed %></p>
    </div>
    <div>
      <h5>Color:</h5>
      <p><%= dog.color %></p>
    </div>
    <div>
      <h5>Age:</h5>
      <p><%= dog.age %></p>
    </div>
    <div>
      <h5>Owner:</h5>
      <p><a href="/profile/<%= dog.owner._id %>"><%= dog.owner.name %></a></p>
    </div>
    </section>
    <section>
      <% if (dog.owner._id.equals(user?.profile._id)) { %>
        <div>
          <a href="/dogs/<%= dog._id %>/edit">
            <button class="btn btn-outline-light">Edit Dog Info</button>
          </a>
        </div>
        <div>
          <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger">Remove Dog</button>
          </form>
        </div>
      <% } %>   
    </section>
</main>

<%- include('../partials/footer') %>