<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <form action="/convo/<%= convo._id %>/messages" method="POST">
      <textarea name="content" placeholder="Write New Comment Here"></textarea>
      <br>
      <button>Add Comment</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>